version: '3.8'

services:
  rapidsai:
    build:
      context: ./workspace
      dockerfile: dockerfile
    image: nvcr.io/nvidia/rapidsai/base:25.10-cuda13-py3.11
    container_name: rapidsai_custom_container
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: ["gpu"]
    stdin_open: true
    tty: true
    volumes:
      - ./workspace:/workspace
    ports:
      - "8888:8888"
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    command: >
      bash -c "
      jupyter lab --ip=0.0.0.0 --port=8888 --no-browser --allow-root --notebook-dir=/workspace --NotebookApp.token='' --NotebookApp.password=''
      "
